# QDRANT_TARGET=qdrant:6333

# Retrieval API secrets
COHERE_API_KEY = your-key-here
OPENAI_API_KEY = your-key-here
QDRANT_API_KEY = your-key-here
QDRANT_URL = your-key-here
ANTHROPIC_API_KEY = your-key-here
