# QDRANT_API_KEY=fd366ae0a9c561994584ab3f649ecee421907a3bf7270d5bcbf5d62b6c675d76
# QDRANT_TARGET=qdrant:6333

# Retrieval API secrets
COHERE_API_KEY = your-key-here
OPENAI_API_KEY = your-key-here
QDRANT_API_KEY = your-key-here
QDRANT_URL = your-key-here
ANTHROPIC_API_KEY = your-key-here


SHA256:p9h+BVyGEqwOYeElhzyxczEOcwFu2zuEsQfoKCqdtWo